<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    {% load static %}

    <meta charset="utf-8"/>
<title>预约信息发布管理员登录</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta content="" name="description"/>
<meta content="" name="author"/>
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
<link href="{% static  'global/plugins/font-awesome/css/font-awesome.min.css'%}" rel="stylesheet" type="text/css"/>
<link href="{% static 'global/plugins/simple-line-icons/simple-line-icons.min.css'%}" rel="stylesheet" type="text/css"/>
<link href="{% static 'global/plugins/bootstrap/css/bootstrap.min.css'%} " rel="stylesheet" type="text/css"/>
<link href="{% static 'global/plugins/uniform/css/uniform.default.css' %}" rel="stylesheet" type="text/css"/>
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL STYLES -->
<link href="{% static 'admin/pages/css/login.css' %}" rel="stylesheet" type="text/css"/>
<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN THEME STYLES -->
<link href="{% static 'global/css/components-rounded.css'%}" id="style_components" rel="stylesheet" type="text/css"/>
<link href="{% static 'global/css/plugins.css'%}" rel="stylesheet" type="text/css"/>
<link href="{% static 'admin/layout/css/layout.css'%}" rel="stylesheet" type="text/css"/>
<link href="{% static 'admin/layout/css/themes/default.css'%}" rel="stylesheet" type="text/css" id="style_color"/>
<link href="{% static 'admin/layout/css/custom.css'%}" rel="stylesheet" type="text/css"/>
<!-- END THEME STYLES -->
<link rel="shortcut icon" href="favicon.ico"/>

</head>
<body class="login">
<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
<div class="menu-toggler sidebar-toggler">
</div>
<!-- END SIDEBAR TOGGLER BUTTON -->
<!-- BEGIN LOGO -->
<div class="logo">
	<img src="{% static 'admin/layout3/img/logo-big.png' %}" alt=""/>
</div>
<!-- END LOGO -->
<!-- BEGIN LOGIN -->

<div class="content" >
	<!-- BEGIN LOGIN FORM -->
	<form novalidate="novalidate" class="login-form"  method="post">
		<h3 class="form-title">预约信息发布管理员 登录</h3>
		<div class="alert alert-danger display-hide">
			<button class="close" data-close="alert"></button>
			<span>请输入密码！</span>
		</div>
		<div class="form-group">
			<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
			<label class="control-label visible-ie8 visible-ie9">用户名</label>
            {{ form.loginname }}
{#			<input class="form-control form-control-solid placeholder-no-fix" autocomplete="off" placeholder="用户名" name="username" type="text">#}
		</div>
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9">密码</label>
            {{ form.password }}
		</div>
		<div class="form-actions">
            {% csrf_token %}
			<button type="submit" class="btn btn-success uppercase">登陆</button>
            {% if error_message %}
                <div id="error" style="color: #ff383a;position: absolute;font-family: '微软雅黑 Light';font-size: large;margin-left: 80px;top: 210px;font-weight: bold">
                    {{ error_message }}</div>
            {% endif %}
		</div>
		<div class="create-account">
			<p>
				<a href="{% url 'publisher:register' %}" id="register-btn" class="uppercase">预约信息发布管理员用户注册</a>
			</p>
		</div>
	</form>

	</div>

<script src="{% static 'global/plugins/respond.min.js' %}"></script>
<script src="{% static 'global/plugins/excanvas.min.js' %}"></script>
<![endif]-->
<script src="{% static 'global/plugins/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'global/plugins/jquery-migrate.min.js' %}" type="text/javascript"></script>
<script src="{% static 'global/plugins/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'global/plugins/jquery.blockui.min.js' %}" type="text/javascript"></script>
<script src="{% static 'global/plugins/uniform/jquery.uniform.min.js' %}" type="text/javascript"></script>
<script src="{% static 'global/plugins/jquery.cokie.min.js' %}" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="{% static 'global/plugins/jquery-validation/js/jquery.validate.min.js' %}" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="{% static 'global/scripts/metronic.js' %}" type="text/javascript"></script>
<script src="{% static 'admin/layout/scripts/layout.js' %}" type="text/javascript"></script>
<script src="{% static 'admin/layout/scripts/demo.js' %}" type="text/javascript"></script>
<script src="{% static 'admin/pages/scripts/login.js' %}" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<script>
    var form_input  = $('form input');
    form_input.addClass('form-control form-control-solid placeholder-no-fix');
    form_input.attr('autocomplete', 'off');
    $(form_input[0]).attr('placeholder', '用户名');
    $(form_input[1]).attr('placeholder', '密码');
jQuery(document).ready(function() {
	Metronic.init(); // init metronic core components
	Layout.init(); // init current layout
	Login.init();
	Demo.init();
});

</script>
<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>
