<!DOCTYPE html>
<br lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>医院信息</title>
</head>
{% if username %}
    你好，{{ username }}
    <a href="{% url 'users:logout' %}">注销</a></br>
{% else %}
    <a href="{% url 'users:login' %}">登录</a></br>
{% endif %}
{{ hospital.name }} </br>
{{ hospital.level }} </br>
电话:{{ hospital.telephone }} </br>
{{ hospital.information }} </br>
地址:{{ location.province }} {{ location.city }} {{ location.street }} </br>

{% if hospital.picture %}
    {% load static %}
    <img src="{% static hospital.picture %}"/></br>
{% endif %}
选择科室 </br>
{% for department in departments %}
    <a href="?hospital_id={{ hospital.id_hospital }}&department_id={{ department.id_department }}">{{ department.name }}</a>
{% endfor %} </br>

{% if items %}
    <table>
        <tr>
            <td>医生</td>
            <td>科室</td>
            <td>等级</td>
            <td>预约时间</td>
            <td>可预约数量</td>
            <td>已预约数量</td>
            <td>预约费用</td>
            <td>预约</td>
        </tr>
    {% for item in items%}
             <tr>
                <td><a href="{% url 'users:doctor' %}?doctor_id={{ item.doctor.id_doctor }}&bullet_id={{ item.bulletin.id_bulletin }}&department_id={{ item.department.id_department }}">{{ item.doctor.name }}</a></td>
                <td>{{ item.department.name }}</td>
                <td>{{ item.doctor.level }}</td>
                <td>{{ item.bulletin.availabletime }}</td>
                <td>{{ item.bulletin.countavailable }}</td>
                <td>{{ item.bulletin.countoccupied }}</td>
                <td>{{ item.bulletin.fee }}</td>
                 {% if username %}
                     {% if item.bulletin.countavailable > item.bulletin.countoccupied %}
                         <td><a href="{% url 'users:reservation' %}?doctor_id={{ item.doctor.id_doctor }}&bulletin_id={{ item.bulletin.id_bulletin }}&department_id={{ item.department.id_department }}">点击预约</a></td>
                         {% else %}
                         <td>名额已满，无法预约</td>
                         {% endif %}
                {% else %}
                <td><a href="{% url 'users:login' %}">登录</a></td>
                {% endif %}
            </tr>
    {% endfor %}
    </table>
    {% else %}
    当前没有可以预约的医生
{% endif %}
</body>
</html>