<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
    {% if username %}
         你好，{{ username }}
        <a href="{% url 'logout' %}">注销</a></br>
    {% else %}
        <a href="{%  url 'login' %}">登录</a></br>
    {% endif %}

    选择省份</br>
    {% for province in provinces %}
    <a href="?province={{ province }}">{{ province }}</a>
    {% endfor %}
    {% if cities %}
        </br>选择城市</br>
        {% for city in cities %}
             <a href="?city={{ city }}">{{ city }}</a>
        {% endfor %}
    {% endif %}
    {% if hospitals %}
        </br>选择医院</br>
        {% for hospital in hospitals %}
            <a href="{% url 'hospital' %}?hospital_id={{ hospital.id_hospital }}">{{ hospital.name }}</a>
        {% endfor %}
    {% endif %}
</body>
</html>